* {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0px;
}
body {
    background-blend-mode: multiply;
    background:url("assets/bg_space.jpg") top repeat fixed rgba(0,0,0,.5);
    background-size: cover;
    background-position: 100%;
    overflow: hidden;
}


/* ======== START SCREEN ========*/

#logo {
    color: red;
}
#startScreen {
    display: flex;
    margin: 20px;
}

#startScreen_menu a {
    color: rgb(255, 94, 0);
    padding: 5px;
    text-decoration: none;
    border: 3px solid rgb(255, 94, 0);

}

#startScreen_menu a:hover {
    background-color: rgb(68, 68, 68);
}





/* ======== GAME FIELD ========*/

#statusbar {
    display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
    flex: auto;
    width: 100%;
    background-color: gray;
    color: rgb(139, 236, 60);
}


.hpElement, .scoreElement, .highscore, .remainingEnemies {
    padding: 5px 10px;
}

#tank {
    position: absolute;
    /* background-color: rgb(255, 0, 0); */
    background: url('assets/player.png');
    background-size: cover;
    width: 80px;
    height: 50px;
    top: 400px;
    left: 100px;
}

/* #weapon {
    background-color: blue;
    position: absolute;
    width: 40px;
    height: 8px;
    left: 50px;
    top: 21px;
} */

.bullet {
    width: 20px;
    height: 6px;
    background-color: rgb(255, 136, 0);
    position: absolute;
}

.lightShip {
    width: 66px;
    height: 45px;
    background: url('assets/enemy_01.png');
    background-size: cover;
    position: absolute;
}

.boss {
    position: absolute;
    height: 300px;
}
.boss img {
    max-height:100%;
    width: 500px;
}

.explosion {
    width: 40px;
    height: 40px;
    background-image: url("assets/explosion.gif");
    background-size: 100%;
    position: absolute;
}

#gameOver {
    color: red;
    display: none;
    flex-direction: column;
    align-items: center;
}