* {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0px;
}
body {
    background-blend-mode: multiply;
    background:url("assets/bg_space.jpg") top repeat fixed rgba(0,0,0,.5);
    background-size: cover;
    background-position: 100%;
    overflow: hidden;
}


/* ======== GAME FIELD ========*/
#gameField {
    display: flex;
    flex-direction: column;
}

#bossHealthString {
    width: 100%;
    color: red;
    display: flex;
    flex-direction: column;
    display: none;
}
#bossHealth {
    display: flex;
    margin: 50px 25%;
    justify-content:flex-start;
    border: 1px solid red;
}
.healthBarCell {
    max-width: 5%;
    width: 50px;
    height: 15px;
    background-color: red;
    
}

#statusbar {
    display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
    flex: auto;
    width: 100%;
    background-color: gray;
    color: rgb(139, 236, 60);
}


.hpElement, .scoreElement, .highscore, .remainingEnemies {
    padding: 5px 10px;
}

#tank {
    position: absolute;
    /* background-color: rgb(255, 0, 0); */
    background: url('assets/player.png') no-repeat;
    background-size: cover;
    width: 80px;
    height: 50px;
    top: 400px;
    left: 100px;
}

/* #weapon {
    background-color: blue;
    position: absolute;
    width: 40px;
    height: 8px;
    left: 50px;
    top: 21px;
} */

.bullet {
    width: 20px;
    height: 6px;
    background-color: rgb(255, 136, 0);
    position: absolute;
}

.lightShip {
    width: 66px;
    height: 45px;
    background: url('assets/enemy_01.png');
    background-size: cover;
    position: absolute;
}

.boss {
    position: absolute;
    height: 300px;
}
.boss img {
    max-height:100%;
    width: 500px;
}

.explosion {
    width: 40px;
    height: 40px;
    background-image: url("assets/explosion.gif");
    background-size: 100%;
    position: absolute;
}
.bossExplosion {
    width: 400px;
    height: 400px;
    background-image: url("assets/explosion.gif");
    background-size: 100%;
    position: absolute;
}

#gameOver {
    color: red;
    display: none;
    flex-direction: column;
    align-items: center;
}

.enemyBullet {
    width: 30px;
    height: 5px;
    background-color: red;
    position: absolute;
}