* {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin: 0px;
}
body {
    background-blend-mode: multiply;
    background:url('bg_space.jpg') top repeat fixed rgba(0,0,0,.5);
    background-size: cover;
    background-position: 100%;
    overflow: hidden;
}


#statusbar {
    display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
    flex: auto;
    width: 100%;
    background-color: gray;
    color: rgb(139, 236, 60);
}


.hpElement, .scoreElement, .highscore {
    padding: 5px 10px;
}

#tank {
    position: absolute;
    background-color: rgb(255, 0, 0);
    width: 50px;
    height: 50px;
    top: 400px;
    left: 100px;
}

#weapon {
    background-color: blue;
    position: absolute;
    width: 40px;
    height: 8px;
    left: 50px;
    top: 21px;
}

.bullet {
    width: 20px;
    height: 6px;
    background-color: rgb(255, 136, 0);
    position: absolute;
}

.lightShip {
    width: 40px;
    height: 40px;
    background-color: lime;
    position: absolute;
}

.boss {
    width: 400px;
    height: 300px;
    background-image: url(boss.jpg);
    position: absolute;
}

.explosion {
    width: 40px;
    height: 40px;
    background-image: url("explosion.gif");
    background-size: 100%;
    position: absolute;
}

#gameOver {
    color: red;
    display: none;
    flex-direction: column;
    align-items: center;
}